.sbSearchBar {
    background: #00a9ea;
    background: -moz-linear-gradient(top,  #00a9ea 0%, #0099d7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a9ea), color-stop(100%,#0099d7));
    background: -webkit-linear-gradient(top,  #00a9ea 0%,#0099d7 100%);
    background: -o-linear-gradient(top,  #00a9ea 0%,#0099d7 100%);
    background: -ms-linear-gradient(top,  #00a9ea 0%,#0099d7 100%);
    background: linear-gradient(to bottom,  #00a9ea 0%,#0099d7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9ea', endColorstr='#0099d7',GradientType=0 );
    padding: 6px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #0078a7;
    width: 438px;
}
.sbSearchBar input {
    line-height: 33px;    
    height: 33px;
    width: 426px;
    font-size: 12pt;
    padding-left: 6px;
}
#sbSortBy {
    float: right;
}
#pollSortBy li a.pollSortByRecent {
    background-position: 0px -30px;
}
#pollSortBy li a.pollSortByRecent.selected {
    background-position: 0px -0px;
}
#pollSortBy li a.pollSortByRecent:hover {
    background-position: 0px -0px;
}
#pollSortBy li a.pollSortByRandom {
    background-position: 0px -90px;
    border-right: 1px solid #99b9c8;
}
#pollSortBy li a.pollSortByRandom.selected {
    background-position: 0px -60px;
}
#pollSortBy li a.pollSortByRandom:hover {
    background-position: 0px -60px;
}
.votingContent {
    width: 450px;
}
.votingItems {
    margin-left: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0px 0px 10px 10px;
    width: 440px;
}
.votingFilter {
    width: 138px;
    float: right;
    margin: 18px 0px 0px;
}
#pollTitle {
    font-family: "TradeGothicNextW01-Bold 693229";
    text-transform: uppercase;
    font-size: 17px;
    margin: 0px 0px 10px;
    color: #575757;
    float: left;
}
.pollMessage {
    padding: 12px 4px;
}
.prevNextButtons {
    float: right;
}
.votingItems .item .voteButton {
    color: #019700;
}
.votingItems .item .voteButton:hover {
    background-color: #019700;
}

/* temporary, until voting is opened */
.voteSelect {
    display: none;
}
.pollNavigation {
    background-color: #d8d8d8;
    border-bottom: 1px solid #cccccc;
    padding: 4px 8px;
}

.sbClear {
	clear: both;
}